.section {
  display: flex;
  gap: 2rem;
  width: 100%;
  background:
    url('../../../../assets/images/star.png') no-repeat,
    url('../../../../assets/images/collar.png') right bottom 20px no-repeat;
}
